<div class="mb-16">
  <div class="bg-base-300">
    <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
      <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
        <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-secondary sm:text-4xl md:mx-auto">
          <span class="relative inline-block">
            <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-primary lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
              <defs>
                <pattern id="dc223fcc-6d72-4ebc-b4ef-abe121034d6e" x="0" y="0" width=".135" height=".30">
                  <circle cx="1" cy="1" r=".7"></circle>
                </pattern>
              </defs>
              <rect fill="url(#dc223fcc-6d72-4ebc-b4ef-abe121034d6e)" width="52" height="24"></rect>
            </svg>
            <span class="relative">Pokemon</span>
          </span>
          Inclement Emerald Monotype Nuzlocke
        </h2>
        <p class="text-base text-gray-300 md:text-lg">
          Gen 3 Pokemon games filled my childhood with so much joy. Now with this new romhack, I plan to relive it with various twists from the hack's changes to keep things fresh. I'll also attempt this run with my favorite Pokemon type, Poison type.
        </p>
      </div>
    </div>
  </div>
  <div class="relative px-4 sm:px-0">
    <div class="absolute inset-0 bg-base-300 h-1/2"></div>
    <div class="relative grid mx-auto overflow-hidden bg-base-200 divide-y rounded shadow sm:divide-y-0 sm:divide-x sm:max-w-screen-sm sm:grid-cols-3 lg:max-w-screen-md">
      <div class="inline-block p-8 text-center">
        <h6 class="text-5xl font-bold text-primary">0</h6>
        <p class="font-bold text-secondary">Badges</p>
      </div>
      <div class="inline-block my-auto text-center">
        <h6 class="text-5xl font-bold text-primary">1</h6>
        <p class="font-bold text-secondary">Team</p>
      </div>
      <div class="inline-block my-auto text-center">
        <h6 class="text-5xl font-bold text-primary">0</h6>
        <p class="font-bold text-secondary">Deaths</p>
      </div>
    </div>
  </div>
</div>

<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="mx-auto mb-10 lg:max-w-xl sm:text-center">
    <p class="text-base font-bold text-secondary md:text-3xl">
      Current Team
    </p>
  </div>
  <div class="grid gap-10 mx-auto lg:max-w-screen-lg sm:grid-cols-2 lg:grid-cols-4">
    <div class="flex flex-col items-center">
      <img class="object-cover w-20 h-20 mb-2 rounded-full shadow" src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/bulbasaur.png" alt="Bulbasaur" />
      <div class="flex flex-col items-center">
        <p class="text-lg font-bold text-secondary">Bulbasaur</p>
        <p class="text-sm text-primary">Starter</p>
      </div>
    </div>
  </div>
</div>
