@mixin tablet {
  @media (max-width: 600px) {
    @content;
  }
}

.project-box {
  background-color: #252525;
  box-shadow: 0px 0px 5px cyan;

  @include tablet {
    background-color: #252525e3;
  }
}

.project-title{
  font-family: "CrisisCore";
  letter-spacing: 2px;
  color: cyan;
}

.project-subtitle{
  font-family: monospace;
}
