<div class="container">
  <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 mb-5 text-white">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="project-box p-4">
        <div class="project-title display-5">
          <ngx-typed-js [strings]="['Lynbot']" [loop]="false">
             <span class="typing"></span>
          </ngx-typed-js>
        </div>
        <div class="my-3">
          <span class="badge bg-success">Node.js</span>
          <span class="badge bg-primary ms-1">Telegram</span>
        </div>

        <p class="project-subtitle">
          A project built with the idea to learn node.js and now has become a Telegram chatbot with features powered by free public API's.
        </p>

        <p class="project-subtitle">
          Check out the bot in Telegram at: <span class="text-info">@lyndis_bot</span>
        </p>

        <p class="project-subtitle mb-3">
          Status: <span class="badge bg-success">Alive & maintained</span>
        </p>

        <!-- <div class="text-end">
          <span class="btn btn-outline-info">Read more</span>
        </div> -->
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 h-100">

    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4">

    </div>
</div>
</div>

