<div class="container px-0 pt-2 p-md-5 min-vh-100">
  <div class="hero-container">
    <div class="hero">
      <div class="hero-content">
        <div class="hero-label fs-1">Hi, I am Exia</div>
        <h4 class="hero-title">
          Dev<span class="mx-1">|</span>Chess<span class="mx-1">|</span>Game
        </h4>
        <div class="hero-details">
          <div class="hero-box txt-ff7cc">
            <p>
              A <span class="txt-cyan">full-stack developer</span> living in Brunei Darussalam who casually plays chess and video games in his spare time
            </p>
            <p>
              Website is still <span class="txt-cyan">under construction</span>, see ya soon!!
            </p>
          </div>
          <ul>
            <li>
              <a href="#">
                <fa-icon [icon]="faYoutube" size="xs" class="me-2"></fa-icon>
              </a>
            </li>
            <li>
              <a href="#">
                <fa-icon [icon]="faTwitch" size="xs" class="me-2"></fa-icon>
              </a>
            </li>
            <li>
              <a href="#">
                <fa-icon [icon]="faDiscord" size="xs" class="me-2"></fa-icon>
              </a>
            </li>
            <li>
              <a href="#">
                <fa-icon [icon]="faGithub" size="xs" class="me-2"></fa-icon>
              </a>
            </li>
            <li>
              <a href="#">
                <fa-icon [icon]="faGitlab" size="xs" class="me-2"></fa-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="hero-img">
        <img clas="img-fluid" src="/assets/img/backgrounds/desktop01.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
