<div class="container px-0 pt-2 p-md-5">
  <div class="hero-container">
    <div class="hero">
      <div class="hero-content">
        <div class="hero-title">
          Greetings, you have reached the web of:
        </div>
        <div class="hero-label fs-2 mb-3">
          <ngx-typed-js [strings]="['developer', 'chess player', 'casual gamer']" [loop]="true">
            Exia the<br> <span class="typing"></span>
          </ngx-typed-js>
        </div>
        <div class="hero-details">
          <div class="hero-box txt-ff7cc">
            <p>
              A <span class="txt-cyan">full-stack developer</span> living in Brunei Darussalam who casually plays chess and video games in his spare time
            </p>
            <p>
              Website is still <span class="txt-cyan">under construction</span>, see ya soon!!
            </p>
          </div>
          <ul>
            <li>
              <a [attr.href]="youtubeUrl">
                <fa-icon [icon]="faYoutube" size="xs" class="me-2"></fa-icon>
              </a>
            </li>
            <li>
              <a [attr.href]="twitchUrl">
                <fa-icon [icon]="faTwitch" size="xs" class="me-2"></fa-icon>
              </a>
            </li>
            <li>
              <a [attr.href]="discordUrl">
                <fa-icon [icon]="faDiscord" size="xs" class="me-2"></fa-icon>
              </a>
            </li>
            <li>
              <a [attr.href]="githubUrl">
                <fa-icon [icon]="faGithub" size="xs" class="me-2"></fa-icon>
              </a>
            </li>
            <li>
              <a [attr.href]="gitlabUrl">
                <fa-icon [icon]="faGitlab" size="xs" class="me-2"></fa-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="hero-img">
        <img clas="img-fluid" src="/assets/img/backgrounds/desktop02.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
