<div class="overflow-hidden bg-base-300">
  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="flex flex-col items-center justify-between xl:flex-row">
      <div class="w-full max-w-xl mb-12 xl:pr-16 xl:mb-0 xl:w-7/12">
        <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl sm:leading-none">
          <span class="text-primary">Welcome</span>, you have reached<br class="hidden md:block" />
          the digital space of <span class="text-primary">Exia</span>
        </h2>
        <p class="max-w-xl mb-4 text-base text-gray-300 md:text-lg">
          If you are at a place that exists between dreams and reality, mind and matter, where are you?
        </p>
        <p class="max-w-xl mb-4 text-base text-gray-300 md:text-lg">
          <span class="line-through">Velvet Room</span> My website probably
        </p>
      </div>
      <div class="w-full max-w-xl xl:px-8 xl:w-5/12">
        <div class="mx-auto container">
          <div class="mockup-code">
            <pre data-prefix="$" class="text-success mb-2"><code>Featured</code></pre>
            <pre *ngFor="let item of featuredData" [attr.data-prefix]="item.prefix" class="text-primary mb-1 hover:bg-primary hover:text-primary-content"><a [href]="item.link ? item.link : null"><code>{{ item.txt }}</code></a></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-schedule></app-schedule>
