/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "CrisisCore";
  src: local("CrisisCore"), url(./assets/fonts/crisis-core.ttf) format("truetype");
}

.txt-ff7cc {
  font-size: 1.1em;
  font-family: "CrisisCore";
  letter-spacing: 2px;
}
.txt-cyan{
  color: cyan;
}
.master-body {
  background-color: #222222;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
