/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "CrisisCore";
  src: local("CrisisCore"), url(./assets/fonts/crisis-core.ttf) format("truetype");
}

html * {
  font-size: 1.1em;
  font-family: "CrisisCore";
}

.background-div{
  background-color: black;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
